<% if (post.prev || post.next) { %>
  <nav id="article-nav" class="wow fadeInUp">
    <% if (post.prev) { %>
      <div class="article-nav-link-wrap article-nav-link-left">
        <% if (post.prev.cover) { %>
          <img data-src="<%= post.prev.cover %>" data-sizes="auto" alt="<%= post.prev.title %>" class="lazyload">
        <% } else { %>
          <% var cover = randomCover(); %>
          <% if (cover) { %>
            <img data-src="<%= cover %>" data-sizes="auto" alt="<%= post.prev.title %>" class="lazyload">
          <% } else { %>
            <img data-src="<%= theme.banner %>" data-sizes="auto" alt="<%= post.prev.title %>" class="lazyload">
          <% } %>
        <% } %>
        <a href="<%- url_for(post.prev.path) %>"></a>
        <div class="article-nav-caption"><%= __('newer') %></div>
        <h3 class="article-nav-title">
          <% if (post.prev.title) { %>
            <%= post.prev.title %>
          <% } else { %>
            (no title)
          <% } %>
        </h3>
      </div>
    <% } %>
    <% if (post.next) { %>
    <div class="article-nav-link-wrap article-nav-link-right">
      <% if (post.next.cover) { %>
        <img data-src="<%= post.next.cover %>" data-sizes="auto" alt="<%= post.next.title %>" class="lazyload">
      <% } else { %>
        <% var cover = randomCover(); %>
        <% if (cover) { %>
          <img data-src="<%= cover %>" data-sizes="auto" alt="<%= post.next.title %>" class="lazyload">
        <% } else { %>
          <img data-src="<%= theme.banner %>" data-sizes="auto" alt="<%= post.next.title %>" class="lazyload">
        <% } %>
      <% } %>
      <a href="<%- url_for(post.next.path) %>"></a>
      <div class="article-nav-caption"><%= __('older') %></div>
      <h3 class="article-nav-title">
        <% if (post.next.title) { %>
          <%= post.next.title %>
        <% } else { %>
          (no title)
        <% } %>
      </h3>
    </div>
    <% } %>
  </nav>
<% } %>
