<div class="sponsor-wrapper">
  <div class="sponsor-button">
    <%_ if (theme.sponsor.icon?.url === false) { _%>
      <div style="width: 30px;"></div>
    <%_ } else { _%>
      <div class="sponsor-icon <%- theme.sponsor.icon?.rotate ? 'rotate' : '' %>"></div>
    <%_ } _%>
    <div class="sponsor-title"><%= __('sponsor') %></div>
    <%_ if (theme.sponsor.icon?.url === false) { _%>
      <div style="width: 30px;"></div>
    <%_ } else { _%>
      <div class="sponsor-icon <%- theme.sponsor.icon?.rotate ? 'rotate' : '' %>"></div>
    <%_ } _%>
  </div>
  <%_ var sponsorTip = theme.sponsor.tip; _%>
  <%_ if (typeof sponsorTip !== 'string') { _%>
    <%_ sponsorTip = sponsorTip[post.lang]; _%>
  <%_ } _%>
  <div class="sponsor-tip"><%- sponsorTip %></div>
  <%_ if (theme.sponsor.qr?.length) { _%>
    <div class="sponsor-qr">
      <%_ for (let i of theme.sponsor.qr) { _%>
        <div class="sponsor-qr-image-wrapper">
          <img src="<%- url_for(i.src, {relative: false}) %>" alt=<%- i.name %> width="200" />
          <p class="sponsor-qr-name"><%- i.name %></p>
        </div>
      <%_ } _%>
    </div>
  <%_ } _%>
</div>