<!DOCTYPE html>
<html <% if (config.language) { %>lang="<%- config.language %>" <% } %> 
<% if (theme.dark_mode.enable === true) { %>
  data-theme-mode="true"
<% } else if (theme.dark_mode.enable === 'auto') { %>
  data-theme-mode="auto"
<% } else if (theme.dark_mode.enable === false) { %>
  data-theme-mode="false"
<% } %>
>
<%- partial('_partial/head') %>
<body>
  <% if (theme.injector.body_begin) { %>
    <%- render(theme.injector.body_begin, 'html'); %>
  <% } %>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', {post: page}) %>
    </div>
  </div>
  <% if (theme.algolia_search.enable || theme.generator_search.enable) { %>
    <div class="site-search">
      <div class="reimu-popup popup">
        <div class="reimu-search">
          <div class="reimu-search-input-icon"></div>
          <div class="reimu-search-input" id="reimu-search-input"></div>
          <div class="popup-btn-close"></div>
        </div>
        <div class="reimu-results">
          <div id="reimu-stats"></div>
          <div id="reimu-hits"></div>
          <div id="reimu-pagination" class="reimu-pagination"></div>
        </div>
        <img class="reimu-bg" src="<%- url_for('/images/reimu.png', {relative: false}) %>"/>
      </div>
    </div>
  <% } %>
  <%- partial('_partial/after-footer') %>
  <% if (theme.injector.body_end) { %>
    <%- render(theme.injector.body_end, 'html'); %>
  <% } %>
</body>
</html>
