<% if (page.type == 404) { %>
  <%- partial('404', {post: page}) %>
<% } else { %>
  <!DOCTYPE html>
  <html <% if (page.lang) { %>lang="<%- page.lang %>" <% } else if (config.language) { %>lang="<%- config.language %>" <% } %> 
    <% if (theme.dark_mode.enable === true) { %>
      data-theme-mode="true"
    <% } else if (theme.dark_mode.enable === 'auto') { %>
      data-theme-mode="auto"
    <% } else if (theme.dark_mode.enable === false) { %>
      data-theme-mode="false"
    <% } %>
  >
  <%- partial('_partial/head', {post: page}) %>
  <body>
    <% if (theme.injector.body_begin) { %>
      <%- render(theme.injector.body_begin, 'html'); %>
    <% } %>
    <%- partial('_partial/loader', {post: page}) %>
    <div id="container">
      <div id="wrap">
        <%- partial('_partial/header', {post: page}) %>
        <div id="content" <% if (page.sidebar === 'left' || page.sidebar === undefined && theme.sidebar === 'left') { %>class="sidebar-left" <% } %> <% if (page.sidebar === 'right' || page.sidebar === undefined && theme.sidebar === 'right') { %>class="sidebar-right" <% } %>>
          <%- partial('_partial/sidebar', { post: page }) %>
          <section id="main"><%- body %></section>
        </div>
        <%- partial_lang('_partial/footer', null, { cache: !config.relative_link, lang: page.lang }) %>
        <% if (theme.top.enable) { %>
          <div class="sidebar-top">
            <div class="sidebar-top-taichi <%- theme.top.icon?.rotate ? 'rotate' : '' %>"></div>
            <div class="arrow-up"></div>
          </div>
        <% } %>
        <div id="mask" class="hide"></div>
      </div>
      <%- partial('_partial/mobile-nav', { post: page }) %>
    </div>
    <% if (theme.algolia_search.enable || theme.generator_search.enable) { %>
      <div class="site-search">
        <div class="reimu-popup popup">
          <div class="reimu-search">
            <div class="reimu-search-input-icon"></div>
            <div class="reimu-search-input" id="reimu-search-input"></div>
            <div class="popup-btn-close"></div>
          </div>
          <div class="reimu-results">
            <div id="reimu-stats"></div>
            <div id="reimu-hits"></div>
            <div id="reimu-pagination" class="reimu-pagination"></div>
          </div>
          <img class="reimu-bg" src="<%- url_for('/images/reimu.png', {relative: false}) %>"/>
        </div>
      </div>
    <% } %>
    <% if (theme.player.aplayer.enable && !theme.player.meting.enable && theme.player.aplayer.options.fixed === true) { %>
      <div id="aplayer" theme="var(--color-link)"></div>
    <% } %>
    <% if (theme.player.meting.enable && theme.player.aplayer.options.fixed === true) { %>
      <meting-js
        theme="var(--color-link)"
        <% if (theme.player.meting.options.id != null) { %>id="<%= theme.player.meting.options.id %>"<% } %>
        <% if (theme.player.meting.options.server != null) { %>server="<%= theme.player.meting.options.server %>"<% } %>
        <% if (theme.player.meting.options.type != null) { %>type="<%= theme.player.meting.options.type %>"<% } %>
        <% if (theme.player.meting.options.auto != null) { %>auto="<%= theme.player.meting.options.auto %>"<% } %>
        <% if (theme.player.aplayer.options.fixed != null) { %>fixed="<%= theme.player.aplayer.options.fixed %>"<% } %>
        <% if (theme.player.aplayer.options.autoplay != null) { %>autoplay="<%= theme.player.aplayer.options.autoplay %>"<% } %>
        <% if (theme.player.aplayer.options.loop != null) { %>loop="<%= theme.player.aplayer.options.loop %>"<% } %>
        <% if (theme.player.aplayer.options.order != null) { %>order="<%= theme.player.aplayer.options.order %>"<% } %>
        <% if (theme.player.aplayer.options.preload != null) { %>preload="<%= theme.player.aplayer.options.preload %>"<% } %>
        <% if (theme.player.aplayer.options.volume != null) { %>volume="<%= theme.player.aplayer.options.volume %>"<% } %>
        <% if (theme.player.aplayer.options.mutex != null) { %>mutex="<%= theme.player.aplayer.options.mutex %>"<% } %>
        <% if (theme.player.aplayer.options.listFolded != null) { %>list-folded="<%= theme.player.aplayer.options.listFolded %>"<% } %>
        <% if (theme.player.aplayer.options.lrcType != null) { %>lrc-type="<%= theme.player.aplayer.options.lrcType %>"<% } %>
      ></meting-js>
    <% } %>
    <%- partial('_partial/after-footer', {post: page}) %>
    <% if (theme.injector.body_end) { %>
      <%- render(theme.injector.body_end, 'html'); %>
    <% } %>
  </body>
  </html>
<% } %>
