<li class="archive-article">
    <span>
        <time class="dt-published" datetime="<%= date_xml(post.date) %>"
              itemprop="datePublished"><%= date(post.date, 'MM-DD') %></time>
    </span>
    <% if (post.link){ %>
            <a class="archive-article-title" href="<%- url_for(post.link, {relative: false}) %>" target="_blank"
               itemprop="url"><%= post.title %></a>
    <% } else if (post.title){ %>
        <% if (index){ %>
                <a class="archive-article-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        <% } else { %>
                <%= post.title %>
        <% } %>
    <% } %>
</li>