<article id="<%= post.layout %>-<%= post.slug %>" class="h-entry article article-type-<%= post.layout %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="article-inner" data-aos="<%= theme.animation.options.article.whole %>">
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <%- partial('post/category') %>
    </div>
    <div class="hr-line"></div>
    <%- partial('post/gallery') %>
    <div class="e-content article-entry" itemprop="articleBody">
      <% if (theme.outdate.enable) { %>
        <blockquote id="outdate-blockquote" style="display: none;"><p></p></blockquote>
      <% } %>
      <% if (post.excerpt && post.link) { %>
        <p><%- post.excerpt %></p>
        <p class="article-more-link">
          <a href="<%- url_for(post.link, {relative: false}) %>" target="_blank" itemprop="url" rel="noopener external nofollow noreferrer"><%= theme.excerpt_link || "Read More" %></a>
        </p>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <% if (post.copyright === true) { %>
        <%- articleCopyright(post) %>
      <% } else if (post.copyright !== false && theme.article_copyright.enable) { %>
        <%- articleCopyright(post) %>
      <% } %>
      <% if (post.sponsor === true) { %>
        <%- partial('post/sponsor') %>
      <% } else if (post.sponsor !== false && theme.sponsor.enable) { %>
        <%- partial('post/sponsor') %>
      <% } %>
      <% if (Array.isArray(theme.share) && theme.share.length) { %>
        <%- partial('post/share') %>
      <% } %>
      <% if (post.comments !== false && theme.valine.enable && theme.valine.appId && theme.valine.appKey) { %>
        <a data-aos="<%= theme.animation.options.article.comment %>" href="<%- url_for_lang(post.path) %>#comments" class="article-comment-link">
          <span class="post-comments-count valine-comment-count" data-xid="<%- url_for_lang(post.path, {relative: false}).endsWith("index.html") ? 
                        url_for_lang(post.path, {relative: false}).slice(0, -10) : url_for_lang(post.path, {relative: false})%>" itemprop="commentCount"></span>
          <%= __('comment') %>
        </a>
      <% } %>
      <% if (post.comments !== false && theme.waline.enable && theme.waline.serverURL) { %>
        <a data-aos="<%= theme.animation.options.article.comment %>" href="<%- url_for_lang(post.path) %>#comments" class="article-comment-link">
          <span class="post-comments-count waline-comment-count" data-path="<%- url_for_lang(post.path, {relative: false}) %>" itemprop="commentCount"></span>
          <%= __('comment') %>
        </a>
      <% } %>
      <% if (post.comments !== false && theme.twikoo.enable && theme.twikoo.envId) { %>
        <a data-aos="<%= theme.animation.options.article.comment %>" href="<%- url_for_lang(post.path) %>#comments" class="article-comment-link">
          <span class="post-comments-count twikoo-comment-count" data-path="<%- url_for_lang(post.path, {relative: false}) %>" itemprop="commentCount"></span>
          <%= __('comment') %>
        </a>
      <% } %>
      <% if (post.comments !== false && theme.valine.enable && theme.valine.appId && theme.valine.appKey && theme.valine.visitor) { %>
        <span data-aos="<%= theme.animation.options.article.reading %>" id="<%- url_for_lang(post.path, {relative: false}).endsWith("index.html") ? 
                  url_for_lang(post.path, {relative: false}).slice(0, -10) : 
                  url_for_lang(post.path, {relative: false})%>" class="leancloud_visitors article-visitor-link" data-flag-title="<%= post.title %>">
          <span class="leancloud-visitors-count">0</span>
          <em class="post-meta-item-text"><%= __('reading') %></em>
        </span>
      <% } %>
      <% if (post.comments !== false && theme.waline.enable && theme.waline.serverURL && theme.waline.pageview) { %>
        <span data-aos="<%= theme.animation.options.article.reading %>" class="article-visitor-link">
          <span class="waline-pageview-count" data-path="<%- url_for_lang(post.path, {relative: false}).endsWith("index.html") ? 
          url_for_lang(post.path, {relative: false}).slice(0, -10) : 
          url_for_lang(post.path, {relative: false})%>">0</span>
          <em class="post-meta-item-text"><%= __('reading') %></em>
        </span>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <%- partial('post/nav') %>
</article>
<% const commentSystems = {}; %>
<% commentSystems.valine = theme.valine.enable && theme.valine.appId && theme.valine.appKey ? true : false; %>
<% commentSystems.waline = theme.waline.enable && theme.waline.serverURL ? true : false; %>
<% commentSystems.twikoo = theme.twikoo.enable && theme.twikoo.envId ? true : false; %>
<% commentSystems.gitalk = theme.gitalk.enable && theme.gitalk.clientID && theme.gitalk.clientSecret ? true : false; %>
<% commentSystems.giscus = theme.giscus.enable ? true : false; %>
<% const activeSystems = Object.keys(commentSystems).filter(system => commentSystems[system]); %>

<% if (post.comments !== false && activeSystems.length) { %>
  <section id="comments" data-aos="<%= theme.animation.options.article.whole %>">
    <div class="comment-header">
      <% var commentTitle = theme.comment.title; %>
      <% if (typeof commentTitle !== 'string') { %>
        <% commentTitle = commentTitle[post.lang]; %>
      <% } %>
      <h2 class="comment-title"><%= commentTitle %></h2>
      <div class="comment-selector">
        <div class="comment-selector-wrap">
            <% for(const active of activeSystems) { %>
            <div class="selector-item" data-selector="<%= active %>">
              <span><%= active %></span>
            </div>
            <% } %>
        </div>
      </div>
    </div>
    <div class="comment-content">
      <% for(const active of activeSystems) { %>
        <div class="comment <%= active %>-comment" data-aos="<%= theme.animation.options.article.whole %>"
          id="<%= active %>-comment">
        </div>
      <% } %>
    </div>
  </section>
<% } %>
