<article id="<%= post.layout %>-<%= post.slug %>" class="h-entry article article-type-<%= post.layout %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="article-inner">
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <%- partial('post/category') %>
    </div>
    <div class="hr-line"></div>
    <%- partial('post/gallery') %>
    <div class="e-content article-entry" itemprop="articleBody">
      <% if (post.excerpt && index) { %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link) { %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" data-title="<%= post.title %>" class="article-share-link"><%= __('share') %></a>
      <% if (post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey) { %>
        <a href="<%- url_for(post.path) %>#comments" class="article-comment-link">
          <span class="post-comments-count valine-comment-count" data-xid="<%- url_for(post.path, {relative: false}).endsWith("index.html") ? 
                        url_for(post.path, {relative: false}).slice(0, -10) : url_for(post.path, {relative: false})%>" itemprop="commentCount"></span>
          <%= __('comment') %>
        </a>
      <% } %>
      <% if (post.comments && theme.waline.enable && theme.waline.serverURL) { %>
        <a href="<%- url_for(post.path) %>#comments" class="article-comment-link">
          <span class="post-comments-count waline-comment-count" data-path="<%- url_for(post.path, {relative: false}) %>" itemprop="commentCount"></span>
          <%= __('comment') %>
        </a>
      <% } %>
      <% if (post.comments && theme.twikoo.enable && theme.twikoo.envId) { %>
        <a href="<%- url_for(post.path) %>#comments" class="article-comment-link">
          <span class="post-comments-count twikoo-comment-count" data-path="<%- url_for(post.path, {relative: false}) %>" itemprop="commentCount"></span>
          <%= __('comment') %>
        </a>
        <script>
          twikoo.getCommentsCount({
            envId: '<%= theme.twikoo.envId %>',
            region: '<%= theme.twikoo.region %>',
            urls: [
              '<%- url_for(post.path, {relative: false}) %>'
            ],
            includeReply: false
          }).then((res) => {
            document.querySelector('.twikoo-comment-count').innerText = res[0].count;
          }).catch((err) => {
            console.error(err);
          });
        </script>
      <% } %>
      <% if (theme.valine.enable && theme.valine.appId && theme.valine.appKey && theme.valine.visitor) { %>
        <span id="<%- url_for(post.path, {relative: false}).endsWith("index.html") ? 
                  url_for(post.path, {relative: false}).slice(0, -10) : 
                  url_for(post.path, {relative: false})%>" class="leancloud_visitors article-visitor-link" data-flag-title="<%= post.title %>">
          <span class="leancloud-visitors-count">0</span>
          <em class="post-meta-item-text"><%= __('reading') %></em>
        </span>
      <% } %>
      <% if (theme.waline.enable && theme.waline.serverURL && theme.waline.pageview) { %>
        <span class="article-visitor-link">
          <span class="waline-pageview-count" data-path="<%- url_for(post.path, {relative: false}).endsWith("index.html") ? 
          url_for(post.path, {relative: false}).slice(0, -10) : 
          url_for(post.path, {relative: false})%>">0</span>
          <em class="post-meta-item-text"><%= __('reading') %></em>
        </span>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index) { %>
    <%- partial('post/nav') %>
  <% } %>
</article>
<% if (!index && post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey) { %>
  <section id="comments" class="vcomment"></section>
<% } %>
<% if (!index && post.comments && theme.waline.enable && theme.waline.serverURL) { %>
  <div id="comments" class="wcomment"></div>
<% } %>
<% if (!index && post.comments && theme.twikoo.enable && theme.twikoo.envId) { %>
  <div id="comments" class="tcomment"></div>
<% } %>
<% if (!index && post.comments && theme.gitalk.enable && theme.gitalk.clientID && theme.gitalk.clientSecret) { %>
  <div id="comments" class="gtcomment"></div>
<% } %>
<% if (!index && post.comments && theme.giscus.enable) { %>
  <div id="comments" class="gscomment giscus"></div>
<% } %>
