<article id="<%= post.layout %>-<%= post.slug %>" class="h-entry article article-type-<%= post.layout %>"
         itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <div class="article-inner">
        <div class="article-meta">
            <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
            <%- partial('post/category') %>
        </div>
        <div class="hr-line"></div>
        <%- partial('post/gallery') %>
        <div class="e-content article-entry" itemprop="articleBody">
            <% if (post.excerpt && index){ %>
                <%- post.excerpt %>
                <% if (theme.excerpt_link){ %>
                    <p class="article-more-link">
                        <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
                    </p>
                <% } %>
            <% } else { %>
                <%- post.content %>
            <% } %>
        </div>
        <footer class="article-footer">
            <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" data-title="<%= post.title %>"
               class="article-share-link"><%= __('share') %></a>
            <% if (post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey ){ %>
                <a href="<%- url_for(post.path) %>#comments" class="article-comment-link">
                    <span class="post-comments-count valine-comment-count" data-xid="<%- url_for(post.path) %>"
                          itemprop="commentCount"></span>
                    <%= __('comment') %>
                </a>
            <% } %>
            <%- partial('post/tag') %>
        </footer>
    </div>
    <% if (!index){ %>
        <%- partial('post/nav') %>
    <% } %>
</article>

<% if (!index && post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey){ %>
    <section id="comments" class="vcomment">

    </section>
<% } %>