<footer id="footer">
    <div class="footer-line"></div>
    <div class="outer">
        <div id="footer-info" class="inner">
            <% if (theme.copyright){ %>
                <%- render(theme.copyright, 'pug'); %>
            <% } %>
            <div>
                <span class="icon-copyright"></span>
                <%= theme.footer.since %>-<%= date(new Date(), 'YYYY') %>
                <span class="footer-info-sep"></span>
                <%= config.author || config.title %>
            </div>
            <% if(theme.footer.powered) { %>
                <div>
                    <%= __('powered_by') %> <a href="https://hexo.io/" target="_blank">Hexo</a>&nbsp;
                    Theme.<a href="https://github.com/D-Sketon/hexo-theme-reimu" target="_blank">Reimu</a>
                </div>
            <% } %>
            <% if(theme.footer.count) { %>
                <div>
                    <span class="icon-brush"></span>
                    <%= _p('post.count', totalcount(site)) %>
                    &nbsp;|&nbsp;
                    <span class="icon-coffee"></span>
                    <%= __(totalmin2read(site)) %>
                </div>
            <% } %>
            <% if(theme.footer.busuanzi){ %>
                <div>
                    <span class="icon-eye"></span>
                    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
                </div>
            <% } %>
        </div>
    </div>
</footer>
  