<nav id="mobile-nav">
  <div class="sidebar-wrap">
    <% if (is_post()) { %>
      <% if (post.toc === false) { %>
        <%- partial_lang('sidebar/common-sidebar', null, { cache: !config.relative_link, lang: page.lang }) %>
      <% } else if (post.toc !== true && theme.toc === false) { %>
        <%- partial_lang('sidebar/common-sidebar', null, { cache: !config.relative_link, lang: page.lang }) %>
      <% } else { %>
        <div class="sidebar-toc-sidebar"><%- partial('sidebar/toc-sidebar') %></div>
        <div class="sidebar-common-sidebar hidden"><%- partial_lang('sidebar/common-sidebar', null, { cache: !config.relative_link, lang: page.lang }) %></div>
      <% } %>
    <% } else { %>
      <%- partial_lang('sidebar/common-sidebar', null, { cache: !config.relative_link, lang: page.lang }) %>
    <% } %>
  </div>
  <% if (is_post()) { %>
    <% if (post.toc === false) { %>
    <% } else if (post.toc !== true && theme.toc === false) { %>
    <% } else { %>
      <div class="sidebar-btn-wrapper">
        <div class="sidebar-toc-btn current"></div>
        <div class="sidebar-common-btn"></div>
      </div>
    <% } %>
  <% } %>
</nav>
