<div class="post-wrap">
    <a class="post-link" href="<%- url_for(post.path, {relative: false}) %>" itemprop="url"></a>
    </a>
    <% if (even === true){ %>
        <div class="post-cover-left">
            <img data-src="/css/images/banner.jpg" data-sizes="auto" alt="<%= post.title %>" class="lazyload">
        </div>
        <div class="post-info">
            <% if (post.top){ %>
                <div class="post-top">
                    <div class="post-top-img"></div>
                    <div class="post-top-text">置顶</div>
                </div>
            <% }else{ %>
                <div class="post-meta">
                    <a><span class="icon-calendar"></span><%- date(post.date, "YYYY-MM-DD") %></a>
                    <% if(wordcount(post.content) == 1){ %>
                        <a><span class="icon-pencil"></span><%= _p('post.count', wordcount(post.content)) %></a>
                    <% } else { %>
                        <a><span class="icon-pencil"></span><%= _p('post.count', wordcount(post.content)) %></a>
                    <% } %>
                    <% if(min2read(post.content) == 1){ %>
                        <a><span class="icon-clock"></span><%= _p('post.time', min2read(post.content)) %></a>
                    <% } else { %>
                        <a><span class="icon-clock"></span><%= _p('post.time', min2read(post.content)) %></a>
                    <% } %>
                </div>
            <% } %>
            <div class="post-title"><%= post.title %></div>
            <article class="post-article">
                <% if(post.excerpt) { %>
                    <%- post.excerpt %>
                <% }  else{ %>
                    <%= stripHtml(post.content) %>
                <% } %>
            </article>
        </div>
    <% } else { %>
        <div class="post-info">
            <% if (post.top){ %>
                <div class="post-top">
                    <div class="post-top-img"></div>
                    <div class="post-top-text">置顶</div>
                </div>
            <% }else{ %>
                <div class="post-meta">
                    <a><span class="icon-calendar"></span><%- date(post.date, "YYYY-MM-DD") %></a>
                    <% if(wordcount(post.content) == 1){ %>
                        <a><span class="icon-pencil"></span><%= _p('post.count', wordcount(post.content)) %></a>
                    <% } else { %>
                        <a><span class="icon-pencil"></span><%= _p('post.count', wordcount(post.content)) %></a>
                    <% } %>
                    <% if(min2read(post.content) == 1){ %>
                        <a><span class="icon-clock"></span><%= _p('post.time', min2read(post.content)) %></a>
                    <% } else { %>
                        <a><span class="icon-clock"></span><%= _p('post.time', min2read(post.content)) %></a>
                    <% } %>
                </div>
            <% } %>
            <div class="post-title"><%= post.title %></div>
            <article class="post-article">
                <% if(post.excerpt) { %>
                    <%- post.excerpt %>
                <% }  else{ %>
                    <%= stripHtml(post.content) %>
                <% } %>
            </article>
        </div>
        <div class="post-cover-right">
            <img data-src="/css/images/banner.jpg" data-sizes="auto" alt="<%= post.title %>" class="lazyload">
        </div>
    <% } %>
</div>