<% if (even === true) { %>
  <div class="post-wrap-left wow fadeInUp">
    <% if (post.link) { %>
      <a class="post-link" href="<%- url_for(post.link, {relative: false}) %>" itemprop="url" target="_blank" aria-label="<%= post.title %>"></a>
    <% } else { %>
      <a class="post-link" href="<%- url_for(post.path) %>" aria-label="<%= post.title %>"></a>
    <% } %>
    <% if (post.sticky) { %>
      <div class="post-sticky"><%= __('sticky')%></div>
    <% } %>
    <div class="post-cover-left">
      <% if (post.cover && !post.cover.startsWith("rgb")) { %>
        <img data-src="<%= post.cover %>" data-sizes="auto" alt="<%= post.title %>" class="lazyload">
      <% } else { %>
        <% var cover = randomCover(); %>
        <% if (cover) { %>
          <img data-src="<%= cover %>" data-sizes="auto" alt="<%= post.title %>" class="lazyload">
        <% } else { %>
          <img data-src="<%= theme.banner %>" data-sizes="auto" alt="<%= post.title %>" class="lazyload">
        <% } %>
      <% } %>
    </div>
    <div class="post-info">
      <div class="post-meta">
        <span><span class="icon-calendar"></span><%- date(post.date, "YYYY-MM-DD") %></span>
        <span><span class="icon-pencil"></span><%= _p('post.count', wordcount(post.content)) %></span>
        <span><span class="icon-clock"></span><%= _p('post.time', min2read(post.content)) %></span>
      </div>
      <h2 class="post-title"><%= post.title %></h2>
      <article class="post-article">
        <% if (post.excerpt) { %>
          <%- post.excerpt %>
        <% } else { %>
          <%= stripHtml(post.content).slice(0, 300) %>
        <% } %>
      </article>
    </div>
  </div>
<% } else { %>
  <div class="post-wrap-right wow fadeInUp">
    <% if (post.link) { %>
    <a class="post-link" href="<%- url_for(post.link, {relative: false}) %>" itemprop="url" target="_blank"></a>
    <% } else { %>
    <a class="post-link" href="<%- url_for(post.path) %>"></a>
    <% } %>
    <div class="post-cover-right">
      <% if (post.cover) { %>
        <img data-src="<%= post.cover %>" data-sizes="auto" alt="<%= post.title %>" class="lazyload">
      <% } else { %>
        <% var cover = randomCover(); %>
        <% if (cover) { %>
          <img data-src="<%= cover %>" data-sizes="auto" alt="<%= post.title %>" class="lazyload">
        <% } else { %>
          <img data-src="<%= theme.banner %>" data-sizes="auto" alt="<%= post.title %>" class="lazyload">
        <% } %>
      <% } %>
    </div>
    <div class="post-info">
      <div class="post-meta">
        <span><span class="icon-calendar"></span><%- date(post.date, "YYYY-MM-DD") %></span>
        <span><span class="icon-pencil"></span><%= _p('post.count', wordcount(post.content)) %></span>
        <span><span class="icon-clock"></span><%= _p('post.time', min2read(post.content)) %></span>
      </div>
      <h2 class="post-title"><%= post.title %></h2>
      <article class="post-article">
        <% if (post.excerpt) { %>
          <%- post.excerpt %>
        <% } else { %>
          <%= stripHtml(post.content).slice(0, 300) %>
        <% } %>
      </article>
    </div>
  </div>
<% } %>
