<div class="sidebar-author">
  <img data-src="<%- url_for('/avatar/' + theme.avatar, {relative: false}) %>" data-sizes="auto" alt="<%= config.author %>" class="lazyload">
  <div class="sidebar-author-name"><%= config.author %></div>
  <div class="sidebar-description"><%= config.description%></div>
</div>
<div class="sidebar-state">
  <div class="sidebar-state-article">
    <div><%= __("sidebar.post") %></div>
    <div class="sidebar-state-number"><%= site.posts.length %></div>
  </div>
  <div class="sidebar-state-category">
    <div><%= __("sidebar.category") %></div>
    <div class="sidebar-state-number"><%= site.categories.length %></div>
  </div>
  <div class="sidebar-state-tag">
    <div><%= __("sidebar.tag") %></div>
    <div class="sidebar-state-number"><%= site.tags.length %></div>
  </div>
</div>
<div class="sidebar-social">
  <% for (let i in theme.social) { %>
    <div class="<%= `icon-${i}` %> sidebar-social-icon">
      <a href=<%= theme.social[i] %> itemprop="url" target="_blank" aria-label="<%= i %>" rel="noopener external nofollow noreferrer"></a>
    </div>
  <% } %>
</div>
<div class="sidebar-menu">
  <% if (!Array.isArray(theme.menu)) { %>
    <% for (let i in theme.menu) { %>
      <div class="sidebar-menu-link-wrap">
        <a class="sidebar-menu-link-dummy" href="<%- url_for_lang(theme.menu[i], { relative: false }) %>" aria-label="<%= __(i) %>"></a>
        <div class="sidebar-menu-icon icon-taichi"></div>
        <div class="sidebar-menu-link"><%= __(i) %></div>
      </div>
    <% } %>
  <% } else { %>
    <% for (let item of theme.menu) { %>
      <div class="sidebar-menu-link-wrap">
        <a class="sidebar-menu-link-dummy" href="<%- url_for_lang(item.url, { relative: false }) %>" aria-label="<%= __(item.name) %>"></a>
        <div class="sidebar-menu-icon icon <%= (item.icon === 'e62b' && theme.icon_font) || (item.icon === 'f6ad' && !theme.icon_font) || !item.icon ? 'rotate' : '' %>">
          <% if (item.icon) { %>
            <% if (item.icon.includes('/') && item.icon.includes('.')) { %>
              <img src="<%- url_for(item.icon, {relative: false}) %>" alt="<%= item.name %> icon" style="width: 1em;">
            <% } else { %>
              <%- `&#x${item.icon};` %>
            <% } %>
          <% } else { %>
            <%- theme.icon_font ? '&#xe62b;' : '&#xf6ad;' %>
          <% } %>
        </div>
        <div class="sidebar-menu-link"><%= __(item.name) %></div>
      </div>
    <% } %>
  <% } %>
</div>
